In [12]:
import requests
import json
import pandas as pd

In [25]:
response = requests.get("https://newsapi.org/v2/top-headlines?country=us&category=business&apiKey=87d7dfa067954486b5e848592bb97b41")

In [26]:
response

In [27]:
datos = json.loads(response.text)
df = pd.DataFrame(datos)

In [28]:
df.head()

  status  totalResults                                           articles
0     ok            68  {'source': {'id': None, 'name': 'YouTube'}, 'a...
1     ok            68  {'source': {'id': None, 'name': 'CoinDesk'}, '...
2     ok            68  {'source': {'id': None, 'name': 'CNBC'}, 'auth...
3     ok            68  {'source': {'id': None, 'name': 'Investor's Bu...
4     ok            68  {'source': {'id': None, 'name': 'YouTube'}, 'a...